#head-slider p.header-desc {
    text-align: center;
    color: #45b29a;
    padding: 1em 0;
    font-size: 180%;
    font-weight: 400;
    font-family: Brunel-Deck-Semibold,Georgia, sans-serif
}


.navbar-brand{
 font-family:Brunel-Deck-Semibold,Georgia;
 font-size:3em;
 #padding-left: 10px;
 #margin-top: 10px;
    background-color: yellow;
    width:500px;
    margin: 0 auto;
    z-index: 10;
    position: relative;
}

.navbar-brand img {
    border: 0px;
    display:inline; 
    padding-bottom: 10px 
    background-color:orange;
}

@media (min-width:768px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -15px;
        margin: 10px;
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    font-family:Brunel-Deck-Semibold,Georgia, sans-serif color: #3CB371;
}


.navbar-default .navbar-nav>li>a {
     color:#2F4F4F;
     font-family:Brunel-Deck-Semibold,Georgia;
}

.navbar-fixed-top .navbar-collapse,
.navbar-static-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
    float: right;
}

.img_src {

    width:35vw;
    height: auto;
    vertical-align: middle;
}

.fig-wrap {
    height: 35vw;
    text-align: center;
    box-sizing: border-box;
    background-color: #8cd98c;
    margin-top: 100px;
}

.contain-wrap {
}
.Intro{
    font-family:Brunel-Deck-Semibold,Georgia,serif;
    padding-left: 10vw;
    padding-right: 10vw;
    color:#2F4F4F;
}
.col-sm-12 {
    color: #2F4F4F;
    margin-bottom: 10px;
}   

#about{
    text-align: center;
    padding-top: 20px;
}

#ms {
    float: left;
    width: 50%;
    text-align: center;
}

#bs {
    float: right;
    width: 50%;
    text-align: center;
}

footer {
    background-color:#e6ffe6;
    bottom: 0px;
    width: 100%;
    padding-bottom: 0px;
    display: block;
}

footer p {
    text-align: center;
    color:#2F4F4F;
    font-size: 1em;
    font-weight: 400;
    #margin-top: 60px;
    #margin-bottom: 20px;
    padding: 2.5em 0 0;
    font-family:  Brunel-Deck-Semibold,Georgia,serif;
}

p,h2,h3,h4,h5,li{
    font-family:Brunel-Deck-Semibold,Georgia,serif;
     font-weight:lighter;
     padding-bottom: 20px;
     padding-top: 10px;
}
li{
}
h2{
    #padding-top: 10vh;
    #padding-bottom: 20px;
    font-weight:300;
    font-family:Georgia,serif;
    #margin: auto;
}

.btn-primary {
    background-color:  #008080;
    border-color:#008080
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color:   #66CDAA;
    border-color:   #66CDAA;
}

#code{
    width: 50%;
    float:right;
}
#rearch{
    width: 50%;
    float:left;
}
.contactme{
    padding-left: 50%;
}