#head-slider p.header-desc {
    text-align: center;
    color: #45b29a;
    padding: 1em 0;
    font-size: 180%;
    font-weight: 400;
    font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif color: #3CB371;
}


.navbar-default .navbar-nav>li>a {
    color: #3CB371
}

.navbar-fixed-top .navbar-collapse,
.navbar-static-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
    float: right;
}

.img_src {
    padding-top:50px;
    width: 30%;
    height: auto;
    vertical-align: middle;
}

.fig-wrap {
    height: 600px;
    text-align: center;
    box-sizing: border-box;
    background-color: #66CDAA;
}

.contain-wrap {}

.col-sm-12 {
    color: #2F4F4F;
}

#ms {
    float: left;
    width: 50%;
    text-align: center;
}

#bs {
    float: right;
    width: 50%;
    text-align: center;
}

footer {
    background-color:   #66CDAA;
    bottom: 0px;
    width: 100%;
    padding-bottom: 0px;
    display: block;
}

footer p {
    text-align: center;
    color: #2F4F4F;
    font-size: 1em;
    font-weight: 400;
    margin-top: 60px;
    padding: 2.5em 0 0;
    font-family: adobe-garamond-pro,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

p,h2,h3,h4,h5,li{
    font-family: adobe-garamond-pro,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
li{
}
h2{
    padding-top: 100px;
    padding-bottom: 20px;
    font-weight:bold;
}

.btn-primary {
    background-color:  #008080;
    border-color:#008080
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color:   #66CDAA;
    border-color:   #66CDAA;
}

#code{
    width: 50%;
    float:right;
}
#rearch{
    width: 50%;
    float:left;
}
.contactme{
    padding-left: 50%;
}